<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{'/course'}">Create a Course</a></li>
                    <li><a th:href="@{'/faculty'}">Create a Faculty Member</a></li>
                    <li><a th:href="@{'/grad'}">Create a Graduate Student</a></li>
                </ul>
            </div>
        </div>
</div>
</body>
</html>